<!-- Partial Form for filtering the category on the home page-->
<form class="ui form" action="/home" method="POST">
    {{> filter-category}}
    <button class="ui teal submit right floated button" value="Submit">Filter By Category</button>
</form>