<!-- Partial for the filter by category form on the admins view user page-->
<form class="ui form" action="/view-user/{{userid}}" method="POST">
    {{> filter-category}}
    <button class="ui teal submit right floated button" value="Submit">Filter By Category</button>
</form>