<!-- Partial for each image  card -->
<div class="ui centered card">
    <div class="image">
        <img src="{{url}}">
    </div>
    <div class="content">
        <span class="right floated">
            <a href="delete-image/{{_id}}" class="ui icon button">
            <i class="red icon trash"></i></a>
        </span>
        <p><b>Public Id:</b></p>
        <p>{{public_id}}</p>
    </div>
</div>