<!-- Index page -->
{{> welcomemenu}}

<div class="ui two column middle aligned grid basic segment">
    <section class="column center aligned">
        <h1 class="ui header">
            Ireland's Greenways & Trails
        </h1>
        <p>
            This is a place you can add all your<br>
            favourite Points Of Interest <br>
            along the many amazing Greenways & Trails<br>
            located around the wonderful Country of Ireland!
        </p>
    </section>
    {{!-- greenway image--}}
    <div class="column">
        <img src="../images/waterford_greenway.jpg" alt="Ireland greenway and trails" class="ui large image">
    </div>
</div>